@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        box-sizing: border-box;
    }

    /* General styles */
    .list-inline li {
        display: inline;
        padding: 1rem;
    }
    /* Buttons */
    .delete-btn {
        background-color: indianred;
        color: white;
        padding: 0.5rem;
    }

    /* Big section styles */
    .edit-section {
        min-width: max(300px, 40%);
    }
    .render-section {
        min-width: 700px;
        max-width: 700px;
        min-height: 1020px;
        max-height: 1020px;
        display: grid;
        grid-template-rows: 2fr 10fr;
    }

    /* Render section styles */
    .render-main-content {
        display: grid;
        grid-template-columns: 2fr 5fr;
        grid-template-rows: auto;
    }

    /* Form Styles */
    input, textarea {
        border-radius: 5px;
        padding: 5px 10px;
    }
    .form-element {
        display: block;
        font-size: 1rem;
        margin-bottom: 0.75rem;
    }
    .form-input {
        display: block;
        width: 100%;
    }
    .form-btn {
        background: indigo;
        color: white;
        display: block;
        width: 100%;
        margin-top: 0.5rem;
        padding: 0.5rem;
    }
    .form-btn:hover {
        background: rgb(116, 37, 173);
    }
}