@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        box-sizing: border-box;
    }

    /* General styles */
    .list-inline li {
        display: inline;
        padding: 1rem;
    }

    /* Big section styles */
    .edit-section {
        min-width: max(300px, 40%);
    }
    .render-section {
        min-width: 700px;
        min-height: 1020px;
    }

    /* Form Styles */
    .form-element {
        display: block;
        font-size: 1rem;
        margin-bottom: 0.75rem;
    }
    .form-input {
        display: block;
        width: 100%;
    }
    .form-btn {
        background: indigo;
        color: white;
        display: block;
        width: 100%;
        margin-top: 0.5rem;
        padding: 0.5rem;
    }
    .form-btn:hover {
        background: rgb(116, 37, 173);
    }
}